<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <title th:text="${title}"></title>
    </head>
    <body class="row-container">
        <nav class="column-container" style="align-items: center; gap: 20px;">
            <a th:href="@{/}" style="text-decoration: inherit; color: inherit">
                <span class="column-container">
                    <img src="/logo.webp" width="40px"/>
                    <h3>ShopSmart</h3>
                </span>
            </a>
            <input type="text" name="query" placeholder="Search" style="width: 50%; margin: 0 auto;"/>
            <a class="buttonish-link" th:href="@{/community}"><span class="emoji-icon">&#x1F4AC;</span>Community</a>
            <a th:if="${#strings.isEmpty(#ctx.session.username)}" class="buttonish-link" th:href="@{/login}">
                <span class="emoji-icon">&#x1F464;</span>
                Log In
            </a>
            <a th:unless="${#strings.isEmpty(#ctx.session.username)}" class="buttonish-link" th:href="@{/user/{username}(username=${#ctx.session.username})}">
                <span class="emoji-icon">&#x1F464;</span>
                <span th:text="${#ctx.session.username}"/>
            </a>
        </nav>

        <div th:if="${notification != null}" th:class="'flash-' + ${#strings.substringBefore(notification, ':')}" th:text="${#strings.substringAfter(notification, ':')}">
        </div>

        <main layout:fragment="content">
            
        </main>
        <footer style="margin: auto auto; margin-bottom: 0; padding-top: 5vw;">
            (C) FOSSkeeters, 2024
        </footer>
    </body>
</html>
