<html layout:decorate="~{common/skeleton}">

<body>
<main layout:fragment="content">
    <div class="row-container list">
        <div class="column-container list-header">
            <h2>These Users Await Your Approval</h2>
            <div class="spacer"></div>
        </div>
        <div th:each="recoveryRequest : ${recoveryRequests}"  class="column-container list-cell">
            <a th:href="@{/users/{username}(username=${recoveryRequest.user.username})}" ><img class="profile-picture" th:src="${recoveryRequest.user.profileImagePath}"></img></a>
            <a th:href="@{/users/{username}(username=${recoveryRequest.user.username})}" class="row-container" style="text-decoration: none;">
                <h3 th:text="@{${recoveryRequest.user.firstName} + ' ' + ${recoveryRequest.user.lastName}}" style="margin: 0px;"></h3>
                <span th:text="@{'@' + ${recoveryRequest.user.username}}"></span>
                <span th:text="'Requested at ' + ${#temporals.format(recoveryRequest.createdAt, 'dd/MM/yyyy')}"></span>
            </a>
            <div class="spacer"></div>
            <a th:href="@{/admin/{recoveryRequestId}/send-password-recovery-email(recoveryRequestId=${recoveryRequest.id})}" class="mini-button"><span>Send Email</span></a>
            <a th:href="'#delete-modal-' + ${recoveryRequest.user.username}" class="red-button">Reject</a>
            <div th:id="'delete-modal-' + ${recoveryRequest.user.username}" class="modal">
                <div class="modal-content">
                    <h2 style="margin-top: 10px;">Password Recovery Request Rejection</h2>
                    <p style="margin-bottom: 40px;">Are you sure you want to reject this password recovery request? You can't bring this request back ever again!</p>
                    <a th:href="@{/admin/{recoveryRequestId}/reject-password-recovery(recoveryRequestId=${recoveryRequest.id})}" class="red-button">Confirm</a>
                    <a href="#" class="mini-button">Back</a>
                </div>
            </div>
        </div>
        <div th:if="${!recoveryRequests.isEmpty()}" style="margin-left: 4%; margin-top: 2em;">
            <a th:if="${recoveryRequests.hasPrevious()}" th:href="@{/admin/password-recovery-requests(page=${recoveryRequests.number - 1})}" class="buttonish-link">Previous</a>

            <span>Page <span th:text="${recoveryRequests.number + 1}">1</span> of <span th:text="${recoveryRequests.totalPages}">1</span></span>

            <a th:if="${recoveryRequests.hasNext()}" th:href="@{/admin/password-recovery-requests(page=${recoveryRequests.number + 1})}" class="buttonish-link">Next</a>
        </div>
    </div>
</main>
</body>

</html>
