<html layout:decorate="~{common/skeleton}">

<body>
<main layout:fragment="content">
    <form class="row-container form" method="post" enctype="multipart/form-data" th:object="${productDto}">
        <h2>Edit Your Product</h2>
        <div class="row-container">
            <label>Name</label>
            <input th:field="${productDto.name}">
            <p class="error-text" th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="${productDto.name}"></p>
        </div>

        <div class="row-container">
            <label>Description</label>
            <textarea th:field="${productDto.description}"></textarea>
            <p class="error-text" th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger"
               th:errors="${productDto.description}"></p>
        </div>

        <div class="row-container">
            <label>Price</label>
            <input type="number" min="0" step="0.01" th:field="${productDto.price}">
            <p class="error-text" th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="${productDto.price}"></p>
        </div>

        <div style="margin: 10 auto; width: 100%;">
            <button class="mini-button" type="submit" style="width: 100%;">Submit</button>
        </div>
    </form>
</main>
</body>

</html>
