/* ============= GLOBAL STYLES ========== */

@font-face {
    font-family: Inika;
    src: url(./font/Inika-Regular.ttf)format('truetype');
}

@font-face {
    font-family: Inika-bold;
    src: url(./font/Inika-Bold.ttf)format('truetype');
}

:root {
    --primary-color: #34514c;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 95%;
    font-family: 'Inika', serif;
    accent-color: var(--primary-color);
}

h2, h3{
    font-family: 'Inika-bold', serif;
}

main {
    margin-top: 3vw;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.column-container {
    display: flex;
    flex-direction: row;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="number"] {
    height: 30px;
    padding-left: 7px;

    border: gray 0.5px solid;
    border-radius: 5px;
}

textarea{
    height: 30px;
    padding-left: 7px;

    border: gray 0.5px solid;
    border-radius: 5px;
}

input[type="submit"] {
    color: white;
    background-color: var(--primary-color);
    border: var(--primary-color);
    border-radius: 5px;
}

.buttonish-link {
    border: gray 0.5px solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.buttonish-checkbox {
    display: none;
}

.buttonish-checkbox-label {
    border: gray 0.5px solid;
    border-radius: 10px;
    color: black;
    padding: 10px 15px;
}

.buttonish-checkbox:checked ~ .hidden-on-edit {
    display: none;
}

.buttonish-checkbox:not(:checked) ~ .shown-on-edit {
    display: none;
}

.emoji-icon {
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);
}

.error-text {
    color: #b3261e;
    font-size: 0.7em;
    margin-top: 0.3em !important;
    margin-bottom: 0.7em;
}

.error-input {
    border: 0.5px solid #b3261e !important;
    color: #b3261e;
}

.error-box {
    color: #b3261e;
    background-color: #f3c6ce;
    border: #b3261e 0.5px solid;
    border-radius: 10px;
    padding: 1em 2em;
}

.truncate-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    color: inherit;
}

.buttonish-link, .buttonish-checkbox-label {
    transition: all 0.25s ease-in;
}

.buttonish-link:hover, .buttonish-checkbox-label:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.25s ease-in;
    box-shadow: 0 0 3px gray;
}

.profile-picture {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.profile-picture-big {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

/* ============= NAV BAR ========== */

nav {
    align-items: center;
    padding: 5px 5px;
    padding-bottom: 15px;
    border-bottom: grey 0.5px solid;
}

nav * {
    align-items: center;
    margin: 0 5px;
}

@media screen and (max-width: 1000px) {
    nav h3 {
        display: none;
    }
}

.search-button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px 5px;
}

/* ============= FLASH NOTIFICATIONS ========== */

.flash-info {
    color: #007bff;
    background-color: #e7e2f8;
    font-weight: bold;

    border: #007bff 0.5px solid;
    border-radius: 10px;

    padding: 1em;
    margin: 0 5vw;
    margin-top: 1em;
}

.flash-success {
    color: #28a745;
    background-color: #b8f7d5;
    font-weight: bold;

    border: #28a745 0.5px solid;
    border-radius: 10px;

    padding: 1em;
    margin: 0 5vw;
    margin-top: 1em;
}

.flash-warn {
    color: #cf9107;
    background-color: #ffe1c7;
    font-weight: bold;

    border: #cf9107 0.5px solid;
    border-radius: 10px;

    padding: 1em;
    margin: 0 5vw;
    margin-top: 1em;
}

.flash-error {
    color: #cf3221;
    background-color: #ffd2e1;
    font-weight: bold;

    border: #cf3221 0.5px solid;
    border-radius: 10px;

    padding: 1em;
    margin: 0 5vw;
    margin-top: 1em;
}

/* ============= MAIN PAGE ========== */

#index-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-carousel div > * {
    display: inline-block;
}

#index-carousel div input {
    display: none;
}

#index-carousel div input + label, #index-carousel div input + label + a {
    height: 270px;
    margin: 5px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#index-carousel div input + label {
    width: 40px;
    transition: width 0.05s ease-in;
    transition-delay: 0.25s;
}

#index-carousel div input + label + a {
    width: 0px;
    transition: width 0.3s ease-in;
}

#index-carousel div input:checked + label {
    width: 0px;
    transition-delay: 0s;
}

#index-carousel div input:checked + label + a {
    width: 500px;
    transition: width 0.3s ease-in;
}

#carousel-item{
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

/* ============= AUTH FORM ========== */

.auth-form {
    width: 60vw;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2vw;
    padding-top: 3vw;

    border: gray 0.5px solid;
    border-radius: 5px;
}

.auth-form > * {
    margin-top: 0.5vw;
}

.auth-form > input {
    height: 36px;
}

.auth-form input[type="radio"] {
    height: 12px;
}

.auth-form span {
    padding: 2px;
    padding-right: 4px;
    margin-right: 1vw;

    border: gray 1px solid;
    border-radius: 5px;
    font-size: 12;
}

.auth-form span:has(input:checked) {
    border: var(--primary-color) 2px solid;
}

/* ============= MERCHANT PAGES ============= */

.list{
    width: 90%;
    gap: 10px;
    margin: 0 auto;
}

.list-cell{
    width: 90%;
    gap: 15px;
    margin: 0 auto;
    padding: 10px 20px;
    border: gray 0.5px solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.list-header{
    width: 90%;
    margin: 0 auto;
}

.spacer{
    flex-grow: 1;
}

.mini-button {
    border: #1d2e2b 1.5px solid;
    margin: auto;
    border-radius: 10px;
    background-color: #34514c;
    transition: background-color 0.1s ease-in-out;
    color: white;
    height: fit-content;
    text-decoration: none;
    padding: 10px 15px;
}

.mini-button:hover{
    background-color: #1d2e2b;
}

.red-button{
    border: red 1px solid;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    color:red;
    text-decoration: none;
    height: fit-content;
    padding: 10px 15px;
}

.red-button:hover{
    background-color: red;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

:target {
    display: block;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    max-width: 400px;
}

.form{
    width: fit-content;
    min-width: 300px;
    gap: 10px;
    margin: 0 auto;
    border: gray 0.5px solid;
    border-radius: 10px;
    padding: 20px 30px;
}

/* ============= REVIEWS ============= */

/* \02606 -> empty star | \02605 -> filled star */
.review-star:before {
    content: '\02606';

    color: var(--primary-color);
    font-size: 24;
}

input[name="score"]:checked ~ .review-star::before {
    content: '\02605';
}

/* This is necessary as the CSS above will cause the already checked stars to be filled even when hovered. */
div:hover > .review-star::before {
    content: '\02606' !important;
}

/* The div:hover is necessary here, as otherwise the rule above will be more important and prevent the star under
 * cursor to be filled. */
div:hover > .review-star:hover::before, .review-star:hover ~ .review-star::before {
    content: '\02605' !important;
    cursor: pointer;
}

/* ============= SEARCH ============= */

select {
    background-color: white;
    border-radius: 5px;
    max-width: 200px;
    height: max-content;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: auto 0;
}

.sort-button {
    background-color: white;
    height: max-content;
    margin: auto 0;
    cursor: pointer;
}
