<html layout:decorate="~{common/skeleton}">

<body>
    <main class="row-container" style="padding: 0 10vw; gap: 15px;" layout:fragment="content">
        <div style="padding: 0 10vw;">
            <h2>Account</h2>
            <p th:unless="${#strings.isEmpty(updatedSuccessfully)}">Profile information updated successfully!</p>
            <div class="column-container"
                style="margin: 0 auto; gap: 20px; flex-direction: row-reverse; align-items: flex-start; justify-content: center;">

                <input type="checkbox" class="buttonish-checkbox" id="edit" th:unless="${#strings.isEmpty(hasErrors)}"
                    checked />
                <input type="checkbox" class="buttonish-checkbox" id="edit" th:if="${#strings.isEmpty(hasErrors)}" />

                <label class="buttonish-checkbox-label hidden-on-edit" for="edit">Edit</label>
                <label class="buttonish-checkbox-label shown-on-edit" for="edit">Cancel</label>
                <div class="row-container hidden-on-edit">
                    <b th:text="${userUpdateDto.getFirstName() + ' ' + userUpdateDto.getLastName()}" />
                    <span th:text="${userUpdateDto.getEmail()}" />
                    <span th:text="${userUpdateDto.getAddress()}" />
                    <div class="row-container" style="margin-top: 15px; gap: 10px;">
                        <a class="buttonish-link" style="font-weight: bold;"
                            th:href="@{/user/{username}/change-password(username=${#ctx.session.username})}"><span
                                style="margin-right: 10px;">&#128273;</span>Change Password</a>
                        <a class="buttonish-link" style="color: white; background-color: #FF4D4D; font-weight: bold;"
                            th:href="@{/logout}"><span style="margin-right: 10px;">&#11013;</span>Log Out</a>
                    </div>
                </div>
                <form class="row-container shown-on-edit" style="gap: 10px;" method="post" enctype="multipart/form-data" th:object="${userUpdateDto}">
                    <div class="row-container">
                        <div class="column-container" style="gap: 10px">
                            <input name="firstname" type="text" placeholder="First Name"
                                th:field="${userUpdateDto.firstName}" th:errorclass="error-input" />
                            <input name="lastname" type="text" placeholder="Last Name"
                                th:field="${userUpdateDto.lastName}" th:errorclass="error-input" />
                        </div>
                        <div class="row-container">
                            <p th:if="${#fields.hasErrors('firstName')}" class="error-text"
                                th:errors="${userUpdateDto.firstName}"></p>
                            <p th:if="${#fields.hasErrors('lastName')}" class="error-text"
                                th:errors="${userUpdateDto.lastName}"></p>
                        </div>
                    </div>

                    <input name="email" type="email" placeholder="E-mail" th:field="${userUpdateDto.email}" th:errorclass="error-input" />
                    <p th:if="${#fields.hasErrors('email')}" class="error-text" th:errors="${userUpdateDto.email}">
                    </p>

                    <input name="phonenumber" type="tel" placeholder="Phone Number"
                        th:field="${userUpdateDto.phoneNumber}" th:errorclass="error-input" />
                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="error-text"
                        th:errors="${userUpdateDto.phoneNumber}"></p>

                    <input name="birthday" type="date" placeholder="Birthday" th:field="${userUpdateDto.dateOfBirth}" th:errorclass="error-input" />
                    <p th:if="${#fields.hasErrors('dateOfBirth')}" class="error-text"
                        th:errors="${userUpdateDto.dateOfBirth}"></p>

                    <textarea name="address" rows="4" placeholder="Address" th:field="${userUpdateDto.address}" th:errorclass="error-input" />
                    <p th:if="${#fields.hasErrors('address')}" class="error-text"
                        th:errors="${userUpdateDto.address}"></p>

                    <input name="profileImageFile" type="file" accept="image/*" th:field="${userUpdateDto.profileImageFile}" />
                    <input type="submit" value="Save" style="padding: 5px;" />
                </form>
                <img class="profile-picture-big" th:src="${user.profileImagePath}" style="margin-left: -10vw; margin-right: 5vw;" />
            </div>
        </div>
    </main>
</body>

</html>
