<html layout:decorate="~{common/skeleton}">
    <head>
        <style>
            main > * {
                display: block;
                margin: 0 auto;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <main layout:fragment="content">
            <svg width="320" height="320"> 
                <circle cx="160" cy="160" fill="#cf3221" r="100" />
                <rect fill="#ffffff" height="40" width="128" x="96" y="140" />
            </svg>
            <h2>403 Forbidden</h2>
            <p>This road's closed.</p>
        </main>
    </body>
</html>
