<html layout:decorate="~{common/skeleton}">

<body>
    <main class="row-container" style="padding: 0 10vw; gap: 15px;" layout:fragment="content">
        <h2><a th:href="@{/user}">Account</a> &gt; Change Password</h2>
        <p th:unless="${#strings.isEmpty(updatedSuccessfully)}">Password updated successfully!</p>
        <div th:if="${#strings.isEmpty(updatedSuccessfully)}" class="column-container"
            style="margin: 0 auto; gap: 20px; flex-direction: row-reverse; align-items: flex-start;">
            <form class="row-container" style="gap: 10px;" method="post" th:object="${changePasswordDto}">
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="text-danger" th:errors="${changePasswordDto.oldPassword}"></p>
                <input name="oldPassword" type="password" placeholder="Current Password" th:field="${changePasswordDto.oldPassword}" />
                
                <p th:if="${#fields.hasErrors('newPassword1')}" th:errorclass="text-danger" th:errors="${changePasswordDto.newPassword1}"></p>
                <input name="newPassword1" type="password" placeholder="New Password" th:field="${changePasswordDto.newPassword1}" />
                
                <p th:if="${#fields.hasErrors('newPassword2')}" th:errorclass="text-danger" th:errors="${changePasswordDto.newPassword2}"></p>
                <input name="newPassword2" type="password" placeholder="Retype New Password" th:field="${changePasswordDto.newPassword2}"/>
                
                <input type="submit" value="Update Password" style="padding: 5px;" />
            </form>
        </div>
    </main>
</body>

</html>