<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="row-container">
        <nav class="column-container" style="align-items: center; gap: 20px;">
            <span class="column-container">
                <img src="/logo.webp" width="40px"/>
                <h3>ShopSmart</h3>
            </span>
            <input type="text" name="query" placeholder="Search" style="width: 50%; margin: 0 auto;"/>
            <a class="buttonish-link" th:href="@{/community}"><span class="emoji-icon">&#x1F4AC;</span>Community</a>
            <a class="buttonish-link" th:href="@{/login}"><span class="emoji-icon">&#x1F464;</span>Log In</a>
        </nav>
        <main class="row-container">
            <div class="slideshow column-container" style="max-height: 200px;">
                <img src="https://i.ytimg.com/vi/WgYaGPNRjgI/hq720.jpg" width="500px" id="slide1" />
                <img src="https://i.ytimg.com/vi/0saIBd-T2O8/hq720.jpg" width="500px" id="slide2" />
                <img src="https://i.ytimg.com/vi/BekKhIP0Jks/hqdefault.jpg" width="500px" id="slide3" />
            </div>
            <div class="column-container" style="margin: 10px auto;">
                <a href="#slide1"><input name="current-slide" type="radio" checked="" /></a>
                <a href="#slide2"><input name="current-slide" type="radio" checked="" /></a>
                <a href="#slide3"><input name="current-slide" type="radio" checked="" /></a>
            </div>
            <h2 style="margin-left: 5vw;">Trending Now</h2>
            <div class="column-container" style="gap: 20px; margin-left: 5vw;">
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
            </div>
            <h2 style="margin-left: 5vw;">You Might Like</h2>
            <div class="column-container" style="gap: 20px; margin-left: 5vw;">
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
                <img src="" width="60px" height="100px"/>
            </div>
        </main>
        <footer style="margin: auto auto; margin-bottom: 0; padding-top: 5vw;">
            (C) FOSSketeers, 2024
        </footer>
    </body>
</html>
