<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <title th:text="${title}">Log In - ShopSmart</title>
    </head>
    <body class="row-container">
        <main>
            <a th:href="@{/}" style="text-decoration: none; display: block; margin: 10px auto; width: fit-content;">
                <img src="/logo.webp" width="48px" />
            </a>
            <form class="row-container auth-form" method="post">
                <div class="column-container" style="justify-content: space-between;">
                    <h2>Log In</h2>
                    <a th:href="@{/signup}" style="text-decoration: none; color: black;"><h2 style="font-weight: 300;">&#8594 Sign Up</h2></a>
                </div>
                <input name="username" placeholder="Username" type="text"/>
                <input name="password" placeholder="Password" type="password"/>
                <label class="error-text" th:if="${error}">Incorrect username or password.</label>
                <a href="#forgot-password-modal">Forgot your password?</a>
                <input value="Log In" type="submit"/>
            </form>
            <div id="forgot-password-modal" class="modal">
                    <div class="modal-content">
                        <h2 style="margin-top: 10px;">Password Recovery</h2>
                        <form class="form" method="post" action="/password-recovery">
                            <p style="margin-bottom: 40px;">Calm down, you didn't lose your account. We will send a password reset link to your email address.</p>
                            <input name="email" placeholder="Your email address" type="email"/>
                            <button class="mini-button" type="submit" style="font-size: 18px">Send</button>
                            <a href="#" class="mini-button">Back</a>
                        </form>
                    </div>
                </div>
        </main>
        <footer style="margin: auto auto; margin-bottom: 0; padding-top: 5vh;">
            (C) FOSSkeeters, 2024
        </footer>
    </body>
</html>
