<html layout:decorate="~{common/skeleton}">

<body>
<main class="row-container" layout:fragment="content">
        <h2>Your Products</h2>
        <a th:href="@{/products/create}">Create Product</a>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="@{${product.price} + '$'}"></td>
                <td th:text="${product.createdAt.toString()}"></td>
                <td>
                    <a th:href="@{/products/edit(id=${product.id})}">Edit</a>
                    <a th:href="@{/products/delete(id=${product.id})}"
                       onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
</main>
</body>

</html>