<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <title th:text="${title}">New Password - ShopSmart</title>
    </head>
    <body class="row-container">
        <main>
            <a th:href="@{/}" style="text-decoration: inherit; display: block; margin: 10px auto; width: fit-content;">
                <img src="/logo.webp" width="48px" />
            </a>
            <form class="row-container auth-form" method="post" th:object="${passwordRecoveryDto}">
                <div class="column-container" style="justify-content: space-between;">
                    <h2>Reset Your Password</h2>
                    <a th:href="@{/login}" style="text-decoration: none; color: black;"><h2 style="font-weight: 300;">&#8594 Login</h2></a>
                </div>
                <input name="newPassword1" placeholder="New Password" type="password"/>
                <label class="error-text" for="newPassword1" th:if="${#fields.hasErrors('newPassword1')}" th:errors="${passwordRecoveryDto.newPassword1}"/>
                <input name="newPassword2" placeholder="Enter password again" type="password"/>
                <label class="error-text" for="newPassword2" th:if="${#fields.hasErrors('newPassword2')}" th:errors="${passwordRecoveryDto.newPassword2}"/>
                <input value="Reset Password" type="submit"/>
            </form>
        </main>
        <footer style="margin: auto auto; margin-bottom: 0; padding-top: 5vh;">
            (C) FOSSkeeters, 2024
        </footer>
    </body>
</html>
