<html layout:decorate="~{common/skeleton}">

<body>
    <main class="row-container" style="padding: 0 10vw; gap: 50px;" layout:fragment="content">
        <div class="column-container" style="gap: 50px; flex-wrap: wrap;">
            <img src="" width="160px" height="160px" />
            <div class="row-container">
                <h2 th:text="${product.getName()}" style="margin: 0; margin-top: 10px;">Product Untitled</h2>
                <span th:text="${product.getOwner().getUsername()}" style="color: gray;">from <a href="merchant.html" style="color: grey">Merchant A</a></span>
                <span th:text="${product.getPrice()} + 'TL'" style="margin-top: 10px; font-weight: 500; font-size: 20;">0</span>
                <span th:text="${product.getDescription()}"> Product Description</span>
            </div>
            <div class="row-container" style="padding-top: 8px; margin-left: auto;">
                <span style="margin-left: auto; color: var(--primary-color); font-size: 24;">&starf;&starf;&starf;&starf;&star;</span>
                <span style="margin-left: auto; color: gray; font-size: 12;">197 ratings</span>
                <a class="buttonish-link" style="margin-top: 10px;" href="wishlist"><span class="emoji-icon">&#x1F90D; </span>Add to wishlist</a>
            </div>
        </div>
        <div class="row-container" style="gap: 10px;">
            <h2>Reviews</h2>
            <div class="column-container" style="gap: 1vw;">
                <input type="checkbox" class="buttonish-checkbox" id="new-review" />
                <label class="buttonish-checkbox-label hidden-on-edit" for="new-review" th:text="${reviewId == null} ? 'New Review' : 'Update Review'"/>
                <form class="row-container shown-on-edit" style="gap: 20px; width: 30em;" method="post" th:action="${reviewId == null} ? @{/products/{productId}/reviews/create(productId=${product.getId()})} : @{/products/{productId}/reviews/{reviewId}/update(productId=${product.getId()},reviewId=${reviewId})}">
                    <input name="title" type="text" placeholder="Title" />
                    <textarea name="body" style="height: 10em;" placeholder="Body"></textarea>
                    <div class="column-container" style="flex-direction: row-reverse; width: fit-content;">
                        <input name="score" id="score5" type="radio" value="5" hidden="1" />
                        <label class="review-star" for="score5"></label>
                        <input name="score" id="score4" type="radio" value="4" hidden="1" />
                        <label class="review-star" for="score4"></label>
                        <input name="score" id="score3" type="radio" value="3" hidden="1" />
                        <label class="review-star" for="score3"></label>
                        <input name="score" id="score2" type="radio" value="2" hidden="1" />
                        <label class="review-star" for="score2"></label>
                        <input name="score" id="score1" type="radio" value="1" hidden="1" />
                        <label class="review-star" for="score1"></label>
                    </div>
                    <input type="submit" value="Submit" style="padding: 5px;" />
                </form>
                <label class="buttonish-checkbox-label shown-on-edit" for="new-review" style="height: fit-content;">Cancel</label>
            </div>
            <div class="row-container" style="gap: 30px;">
                <div th:each="review : ${product.getReviews()}" class="row-container" style="gap: 20px;">
                    <div class="column-container" style="gap: 20px;">
                        <img src="" width="64px" height="64px" />
                        <div class="row-container">
                            <b th:text="${review.getTitle()}" />
                            <span th:text="${review.getBody()}" />
                            <span th:text="${review.getAuthor().getUsername()}" style="color: gray; font-size: 12px;" />
                            <span style="font-size: 14px;"><span style="margin-right: 10px; margin-top: 2px; color: var(--primary-color); font-size: 18px;">&hookleftarrow;</span>Reply as Merchant A</span>
                        </div>
                        <a href="like" style="color: gray;">Like (51)</a>
                        <a href="share" style="color: gray;">Share</a>
                    </div>
                    <div class="column-container" style="margin-left: 20px; gap: 20px; border-left: 5px solid var(--primary-color); padding-left: 20px;">
                        <img src="" width="64px" height="64px" />
                        <div class="row-container">
                            <span>Rerum eius et iste nihil.</span>
                            <span style="color: gray; font-size: 12px;">Brutus</span>
                        </div>
                        <a href="like" style="color: gray;">Like (3)</a>
                        <a href="share" style="color: gray;">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
