<html layout:decorate="~{common/skeleton}">

<body>
    <main class="row-container" style="padding: 0 10vw; gap: 50px;" layout:fragment="content">
        <div class="column-container" style="gap: 50px; flex-wrap: wrap;">
            <img th:unless="${product.images.size() > 0}" src="/filler-product.png" width="160px" height="160px"/>
            <img th:if="${product.images.size() > 0}" th:src="${product.images[0].imagePath}" width="160px" height="160px"/>
            <div class="row-container">
                <h2 th:text="${product.getName()}" style="margin: 0; margin-top: 10px;">Product Untitled</h2>
                <span th:text="${product.getOwner().getUsername()}" style="color: gray;">from <a href="merchant.html" style="color: grey">Merchant A</a></span>
                <span th:text="${product.getPrice()} + 'TL'" style="margin-top: 10px; font-weight: 500; font-size: 20;">0</span>
                <span th:text="${product.getDescription()}"> Product Description</span>
            </div>
            <div class="row-container" style="padding-top: 8px; margin-left: auto;">
                <span style="margin-left: auto; color: var(--primary-color); font-size: 24;" th:with="starCount = ${T(java.lang.Math).round(new java.lang.Double(#aggregates.avg(product.getReviews().![#this.getScore]) != null ? #aggregates.avg(product.getReviews().![#this.getScore]) : 0.0))}" th:text="${#strings.repeat('&starf;', starCount != null ? starCount : 0)} + ${#strings.repeat('&star;', starCount != null ? 5 - starCount : 5)}" />
                <span style="margin-left: auto; color: gray; font-size: 12;" th:text="${product.getReviews().size()} + ' reviews'" />
                <a th:if="${isInWishlist == false}" class="buttonish-link" style="margin-top: 10px;" th:href="@{/products/{productId}/wish(productId=${product.id})}"><span class="emoji-icon">&#x1F90D; </span>Add to wishlist</a>
                <a th:if="${isInWishlist == true}" class="buttonish-link" style="margin-top: 10px;" th:href="@{/products/{productId}/unwish(productId=${product.id})}"><span class="emoji-icon">&#x1F90D; </span>Remove from Wishlist</a>
            </div>
        </div>
        <div class="row-container" style="gap: 10px;">
            <h2>Reviews</h2>
            <div class="column-container" style="gap: 1vw;" th:if="${isCustomer}">
                <input type="checkbox" class="buttonish-checkbox" id="new-review" th:checked="${hasErrors}" />
                <label class="buttonish-checkbox-label hidden-on-edit" for="new-review" th:text="${reviewId == null} ? 'New Review' : 'Update Review'"/>
                <form class="row-container shown-on-edit" style="gap: 10px; width: 30em;" method="post" th:action="${reviewId == null} ? @{/reviews/create} : @{/reviews/{reviewId}/update(reviewId=${reviewId})}" th:object="${reviewDto}">
                    <input th:errorclass="error-input" name="productId" type="hidden" th:field="${reviewDto.productId}" />
                    <label class="error-text" for="productId" th:if="${#fields.hasErrors('productId')}" th:errors="${reviewDto.productId}" />
                    <input th:errorclass="error-input" name="title" type="text" placeholder="Title" th:field="${reviewDto.title}" />
                    <label class="error-text" for="title" th:if="${#fields.hasErrors('title')}" th:errors="${reviewDto.title}" />
                    <textarea th:errorclass="error-input" name="body" style="height: 10em;" placeholder="Body" th:field="${reviewDto.body}"></textarea>
                    <label class="error-text" for="body" th:if="${#fields.hasErrors('body')}" th:errors="${reviewDto.body}" />
                    <div class="column-container" style="flex-direction: row-reverse; width: fit-content;">
                        <input name="score" id="score5" type="radio" value="5" hidden="1" th:checked="${reviewDto.score == 5}" />
                        <label class="review-star" for="score5"></label>
                        <input name="score" id="score4" type="radio" value="4" hidden="1" th:checked="${reviewDto.score == 4}" />
                        <label class="review-star" for="score4"></label>
                        <input name="score" id="score3" type="radio" value="3" hidden="1" th:checked="${reviewDto.score == 3}" />
                        <label class="review-star" for="score3"></label>
                        <input name="score" id="score2" type="radio" value="2" hidden="1" th:checked="${reviewDto.score == 2}" />
                        <label class="review-star" for="score2"></label>
                        <input name="score" id="score1" type="radio" value="1" hidden="1" th:checked="${reviewDto.score == 1}" />
                        <label class="review-star" for="score1"></label>
                    </div>
                    <label class="error-text" for="score" th:if="${#fields.hasErrors('score')}" th:errors="${reviewDto.score}" />
                    <input type="submit" value="Submit" style="padding: 5px;" />
                </form>
                <label class="buttonish-checkbox-label shown-on-edit" for="new-review" style="height: fit-content;">Cancel</label>
                <a th:if="${reviewId != null}" th:href="@{/reviews/{reviewId}/delete(reviewId=${reviewId})}" class="buttonish-link" onclick="return confirm('Are you sure?')" style="height: fit-content;">Delete Review</a>
            </div>
            <div class="row-container" style="gap: 30px;">
                <div th:each="review : ${product.getReviews()}" class="row-container" style="gap: 20px;">
                    <div class="column-container" style="gap: 20px;">
                        <img th:src="${review.author.profileImagePath}" width="64px" height="64px" />
                        <div class="row-container">
                            <span><span style="margin-right: 0.5em; color: var(--primary-color); font-size: 20;" th:text="${#strings.repeat('&starf;', review.getScore())} + ${#strings.repeat('&star;', 5 - review.getScore())}" /><b th:text="${review.getTitle()}" /></span>
                            <span th:text="${review.getBody()}" />
                            <span th:text="${review.getAuthor().getUsername()}" style="color: gray; font-size: 12px;" />
                        </div>
                        <div class="row-container">
                            <form th:action="@{/reviews/{reviewId}/vote(reviewId=${review.id})}" method="post">
                                <input type="hidden" name="value" value="true">
                                <button type="submit" style="color: gray;">Like (<span th:text="${review.getLikeCount}">0</span>)</button>
                            </form>
                            <form th:action="@{/reviews/{reviewId}/vote(reviewId=${review.id})}" method="post">
                                <input type="hidden" name="value" value="false">
                                <button type="submit" style="color: gray;">Dislike (<span th:text="${review.getDislikeCount}">0</span>)</button>
                            </form>
                        </div>
                        <a href="share" style="color: gray;">Share</a>
                    </div>
                    <div th:if="${isProductOwner}" th:with="replyDto = ${reviewReplyDtoList != null ? reviewReplyDtoList[reviewStat.index] : null}">
                        <input type="checkbox" class="buttonish-checkbox" th:id="reply-review- + ${review.getId()}" th:checked="${erroredReviewId == review.getId()}"/>
                        <label class="buttonish-checkbox-label hidden-on-edit" th:for="reply-review- + ${review.getId()}" th:text="${review.getMerchantReplyBody() == null ? 'Reply' : 'Update Reply'}" />
                        <form class="shown-on-edit row-container" th:action="${review.getMerchantReplyBody() == null} ? @{/reviews/{reviewId}/reply(reviewId=${review.getId()})} : @{/reviews/{reviewId}/update-reply(reviewId=${review.getId()})}" method="POST" style="width: fit-content;">
                            <textarea th:classappend="${erroredReviewId == review.getId()} ? error-input : ''" name="merchantReplyBody" style="height: 10em;" placeholder="reply" th:text="${reviewReplyDtoList[reviewStat.index].merchantReplyBody}"></textarea>
                            <label class="error-text" for="merchantReplyBody" th:if="${erroredReviewId == review.getId()}">Reply length must be between 10-4096 characters.</label>
                            <input type="submit" value="Submit" style="padding: 5px;" />
                        </form>
                        <label class="buttonish-checkbox-label shown-on-edit" th:for="reply-review- + ${review.getId()}" style="height: fit-content;">Cancel</label>
                    </div>
                    <div th:if="${review.getMerchantReplyBody() != null}" class="column-container" style="margin-left: 20px; gap: 20px; border-left: 5px solid var(--primary-color); padding-left: 20px;">
                        <img th:src="${product.owner.profileImagePath}" width="64px" height="64px" />
                        <div class="row-container">
                            <span th:text="${review.getMerchantReplyBody()}"/>
                            <span th:text="${product.getOwner().getUsername()}" style="color: gray; font-size: 12px;" />
                        </div>
                        <a th:if="${isProductOwner}" th:href="@{/reviews/{reviewId}/delete-reply(reviewId=${review.getId()})}" style="color: gray;">Delete Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
