<html layout:decorate="~{common/skeleton}">

<body>
    <main layout:fragment="content">
        <div class="column-container" style="margin: 0 auto; width: 90%;">
            <h2 style="margin-left: 1vw;">Search Results</h2>
            <div class="spacer"></div>
            <form action="#" th:action="@{/search}" method="get" class="column-container" style="gap: 10px;">
                <select name="sort">
                    <option value="">Sort By</option>
                    <option value="priceAsc">Price (Low to High)</option>
                    <option value="priceDesc">Price (High to Low)</option>
                    <option value="mostReviewed">Most Reviewed</option>
                    <option value="mostRecent">Most Recent</option>
                    <option value="bestScored">Best Scored</option>
                </select>
                <input type="hidden" name="query" th:value="${param.query}" />
                <button class="buttonish-link sort-button" type="submit">Sort</button>
            </form>
        </div>
        <span th:if="${products.isEmpty()}" style="margin-left: 6%;">No results found.</span>
        <div th:each="product : ${products}" class="column-container list-cell" style="margin-bottom: 10px;">
            <a th:unless="${product.images.size() > 0}" th:href="@{/products/{productId}(productId=${product.id})}"><img
                    src="/filler-product.png" width="50" height="60"></img></a>
            <a th:if="${product.images.size() > 0}" th:href="@{/products/{productId}(productId=${product.id})}"><img
                    th:src="${product.images[0].imagePath}" width="50" height="60"></img></a>
            <a th:href="@{/products/{productId}(productId=${product.id})}" class="row-container"
                style="text-decoration: none; color: inherit;">
                <h3
                    th:text="${#strings.length(product.name) > 50 ? #strings.substring(product.name, 0, 50) + '...' : product.name}" style="margin: 0px;">
                </h3>
                <h3 th:text="'$' + ${product.price}" style="margin: 0px;"></h3>
            </a>
            <div class="row-container" style="padding-top: 8px; margin-left: auto;">
                <div class="column-container" style="gap: 4px;" th:with="averageScore = ${product.getAverageScore()}">
                    <span style="color: #34514c; font-size: 18; margin: auto 0;" th:text="${averageScore}"></span>
                    <span style="color: var(--primary-color); font-size: 18;"
                        th:with="starCount = ${T(java.lang.Math).round(averageScore)}"
                        th:text="${#strings.repeat('&starf;', starCount != null ? starCount : 0)} + ${#strings.repeat('&star;', starCount != null ? 5 - starCount : 5)}"></span>
                </div>
                <span style="margin-right: auto; color: gray; font-size: 14;"
                    th:text="${product.getReviews().size()} + ' reviews'"></span>
            </div>
        </div>
        <div th:if="${!products.isEmpty()}" style="margin-left: 4%; margin-top: 2em;">
            <a th:if="${products.hasPrevious()}" th:href="@{/search(query=${param.query}, sort=${param.sort}, page=${products.number - 1})}" class="buttonish-link">Previous</a>

            <span>Page <span th:text="${products.number + 1}">1</span> of <span th:text="${products.totalPages}">1</span></span>

            <a th:if="${products.hasNext()}" th:href="@{/search(query=${param.query}, sort=${param.sort}, page=${products.number + 1})}" class="buttonish-link">Next</a>
        </div>
    </main>
</body>

</html>
