<html layout:decorate="~{common/skeleton}">

<body>
    <main class="row-container" style="padding: 0 10vw; gap: 15px;" layout:fragment="content">
        <h2>Account</h2>
        <div th:unless="${#strings.isEmpty(errorString)}" th:text="${'Error: ' + errorString}"></div>
        <div th:if="${#strings.isEmpty(errorString)}" class="column-container"
            style="margin: 0 auto; gap: 20px; flex-direction: row-reverse; align-items: flex-start;">
            <input type="checkbox" class="buttonish-checkbox" id="edit" />
            <label class="buttonish-checkbox-label hidden-on-edit" for="edit">Edit</label>
            <label class="buttonish-checkbox-label shown-on-edit" for="edit">Cancel</label>
            <div class="row-container hidden-on-edit">
                <b th:text="${user.getFirstName() + ' ' + user.getLastName()}" />
                <span th:text="${user.getEmail()}" />
                <span th:text="${user.getAddress()}" />
                <div class="column-container" style="margin-top: 10px;">
                    <a class="buttonish-link" style="color: white; background-color: #FF4D4D; font-weight: bold;"
                        th:href="@{/logout}"><span style="margin-right: 10px;">&#11013;</span>Log Out</a>
                </div>
            </div>
            <form class="row-container shown-on-edit" style="gap: 10px;" method="post">
                <div class="column-container" style="gap: 10px;">
                    <input name="firstname" type="text" placeholder="First Name" th:value="${user.getFirstName()}" />
                    <input name="lastname" type="text" placeholder="Last Name" th:value="${user.getLastName()}" />
                </div>
                <input name="email" type="email" placeholder="E-mail" th:value="${user.getEmail()}" />
                <input name="phonenumber" type="tel" placeholder="Phone Number" th:value="${user.getPhoneNumber()}" />
                <input name="birthday" type="date" placeholder="Birthday" th:value="${#temporals.format(user.getDateOfBirth(), 'yyyy-MM-dd')}"/>
                <textarea name="address" rows="4" placeholder="Address" th:text="${user.getAddress()}" />
                <input type="submit" value="Save" style="padding: 5px;" />
            </form>
            <img href="" width="64px" height="64px" />
        </div>
    </main>
</body>

</html>