<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="row-container">
        <nav class="column-container" style="align-items: center; gap: 20px;">
            <span class="column-container">
                <img src="logo.webp" width="40px"/>
                <h3>ShopSmart</h3>
            </span>
            <input type="text" name="query" placeholder="Search" style="width: 50%; margin: 0 auto;"/>
            <a class="buttonish-link" href="community"><span class="emoji-icon">&#x1F4AC;</span>Community</a>
            <a class="buttonish-link" href="account"><span class="emoji-icon">&#x1F464;</span>Account?</a>
        </nav>
        <main class="row-container" style="padding: 0 10vw; gap: 15px;">
            <h2>Account</h2>
            <div class="column-container" style="margin: 0 auto; gap: 20px; flex-direction: row-reverse; align-items: flex-start;">
                <input type="checkbox" class="buttonish-checkbox" id="edit"/>
                <label class="buttonish-checkbox-label hidden-on-edit" for="edit">Edit</label>
                <label class="buttonish-checkbox-label shown-on-edit" for="edit">Cancel</label>
                <div class="row-container hidden-on-edit">
                    <b>John Smith</b>
                    <span>jsmith@example.org</span>
                    <span>1600 Pennsylvania Avenue NW Washington, D.C. 20500 U.S.</span>
                </div>
                <form class="row-container shown-on-edit" style="gap: 10px;">
                    <div class="column-container">
                        <input name="firstname" type="text" placeholder="First Name" value="John"/>
                        <input name="lastname" type="text" placeholder="Last Name" value="Smith"/>
                    </div>
                    <input name="email" type="email" placeholder="E-mail" value="jsmith@example.org"/>
                    <input name="phonenumber" type="tel" placeholder="Phone Number" value="+15555555"/>
                    <input name="birthday" type="date" placeholder="Birthday"/>
                    <input type="submit" value="Save" style="padding: 5px;" />
                </form>
                <img href="" width="64px" height="64px" />
            </div>
        </main>
        <footer style="margin: auto auto; margin-bottom: 0; padding-top: 5vw;">
            (C) FOSSketeers, 2024
        </footer>
    </body>
</html>
